@tailwind base;
@tailwind components;
@tailwind utilities;

.has-small-font-size {
    font-size: theme('fontSize.base');
}
.has-medium-font-size, p {
    font-size: theme('fontSize.lg');
}
.has-large-font-size {
    font-size: theme('fontSize.3xl');
}
.has-x-large-font-size {
    font-size: theme('fontSize.4xl');
}
.has-xx-large-font-size {
    font-size: 10rem;
}
.menu-item {
    float: left;
    padding: theme('size.3') theme('size.3') theme('size.3') 0;
}
.poppins-bold {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-style: normal;
}
.poppins-normal {
    font-family: var(--font-sarala);
    font-weight: 400;
    font-style: normal;
}
.josefinsans {
    font-family: var(--font-josefinsans);
    font-style: normal;
}
.dosis {
    font-family: var(--font-dosis);
    font-style: normal;
}
.urbanist {
    font-family: var(--font-urbanist);
    font-style: normal;
}
#single-post p {
    max-width: theme('maxWidth.screen-md');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: theme('spacing.6');
}
#single-post .wp-block-image {
    margin-top: theme('size.7');
    margin-bottom: theme('size.7');
}
#single-post .wp-block-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: theme('size.4');
}
.underlined_hover:hover {
    text-decoration: underline;
}
@media only screen and (max-width: theme('maxWidth.screen-md')) {
    #single-post p {        
        margin: 0 theme('spacing.6') theme('spacing.6') theme('spacing.6');
    }   
}
@media only screen and (max-width: theme('maxWidth.screen-sm')) {
    #single-post p {        
        margin: 0 theme('spacing.6') theme('spacing.6') theme('spacing.6');
    }   
}